@font-face {
    font-family: 'Muller';
    src: url("../fonts/MullerRegular.eot");
    src: url("../fonts/MullerRegular.eot?#iefix") format('embedded-opentype'), url("../fonts/MullerRegular.woff2") format('woff2'), url("../fonts/MullerRegular.woff") format('woff'), url("../fonts/MullerRegular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Berlingske Sans';
    src: url("../fonts/BerlingskeSans-Tn.eot");
    src: url("../fonts/BerlingskeSans-Tn.eot?#iefix") format('embedded-opentype'), url("../fonts/BerlingskeSans-Tn.woff2") format('woff2'), url("../fonts/BerlingskeSans-Tn.woff") format('woff'), url("../fonts/BerlingskeSans-Tn.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Berlingske Sans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Berlingske Sans.eot");
    src: url("../fonts/Berlingske Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Berlingske Sans.woff2") format("woff2"), url("../fonts/Berlingske Sans.woff") format("woff"), url("../fonts/Berlingske Sans.ttf") format("truetype"),;
}

@font-face {
    font-family: "Berlingske Sans";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Berlingske Sans Bold.eot");
    src: url("../fonts/Berlingske Sans Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Berlingske Sans Bold.woff2") format("woff2"), url("../fonts/Berlingske Sans Bold.woff") format("woff"), url("../fonts/Berlingske Sans Bold.ttf") format("truetype"),;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url("../fonts/BerlingskeSerif-DBdItalic.eot");
    src: url("../fonts/BerlingskeSerif-DBdItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/BerlingskeSerif-DBdItalic.woff2") format('woff2'), url("../fonts/BerlingskeSerif-DBdItalic.woff") format('woff'), url("../fonts/BerlingskeSerif-DBdItalic.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url("../fonts/BerlingskeSerif-DBd.eot");
    src: url("../fonts/BerlingskeSerif-DBd.eot?#iefix") format('embedded-opentype'), url("../fonts/BerlingskeSerif-DBd.woff2") format('woff2'), url("../fonts/BerlingskeSerif-DBd.woff") format('woff'), url("../fonts/BerlingskeSerif-DBd.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gentlemens Script';
    src: url("../fonts/GentlemensScript-Regular.eot");
    src: url("../fonts/GentlemensScript-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/GentlemensScript-Regular.woff2") format('woff2'), url("../fonts/GentlemensScript-Regular.woff") format('woff'), url("../fonts/GentlemensScript-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
